# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Logs e outputs temporários
*.log
*.out

# Arquivos de IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project